@import "tailwindcss";
:root {
  --font-sans: var(--font-urbanist);
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-sans), sans-serif;
}

.font-urbanist {
  font-family: var(--font-urbanist), sans-serif;
}
